<?php

$host = "";
$username = "";
$password = "";
$database = "";
$server = mysql_connect($host, $username, $password) or die(mysql_error());
// Select the database now:
$connection = mysql_select_db($database, $server);

$clauedicio="1caf51fc04fd9170c477485da2663772";
$arrel="continguts/";

