<!--[*  $Id: news_user_article.htm 75 2009-02-24 04:51:52Z mateo $  *]-->

<div id="news_articlecontent">

<h2 class="news_title"><!--[$preformat.catandtitle]--></h2>

<p class="news_meta"><!--[pnml name='_NEWS_POSTEDBYANDON' username=$info.informant date=$info.briefdatetime]--></p>

<!--[if $links.searchtopic neq '' AND $info.topicimage neq '']-->
<p id="news_topic" class="news_meta"><a href="<!--[$links.searchtopic]-->"><img src="<!--[$catimagepath]--><!--[$info.topicimage]-->" alt="<!--[$info.topicname]-->" title="<!--[$info.topicname]-->" /></a></p>
<!--[/if]-->

<div id="news_body" class="news_body">
	<!--[$preformat.maintext]-->
</div>

<!--[if $preformat.notes neq '']-->
<p id="news_notes" class="news_meta"><!--[$preformat.notes]--></p>
<!--[/if]-->
</div>

<!--[* the next code is to display the pager and any hooks (e.g. comments, ratings) *]-->
<!--[pager show='page' rowcount=$pager.numitems limit=$pager.itemsperpage posvar='page' shift=1]-->

<!--[pnmodurl modname='News' func='display' sid=$info.sid assign='returnurl']-->
<!--[pnmodcallhooks hookobject='item' hookaction='display' hookid=$info.sid module='News' returnurl=$returnurl owneruid=$info.cr_uid implode=false]-->
<!--[foreach from=$hooks key='hookname' item='hook']-->
<!--[if $hookname neq 'EZComments' or $info.withcomm eq 0]-->
<!--[$hook]-->
<!--[/if]-->
<!--[/foreach]-->
