[submodule "html/prestatgeria/modules/XtecMailer/includes/mailer"]
	path = html/prestatgeria/modules/XtecMailer/includes/mailer
	url = https://github.com/projectestac/mailer.git
[submodule "html/testlib"]
	path = html/testlib
	url = https://github.com/projectestac/testlib_PHP.git
