<?php

$booksConfig['shelf']['booksBaseURL'] = 'http://agora/prestatgeria';

$server = 'localhost';
$database = 'presta'; //in config file it is calculated the database and it is concatenated here
$datausername = 'root';
$password = 'agora';

//send mail configuration
$IDAPP = 'PRESTATGE';
$REPLYADDRESS = 'prestatgeria-noreply@xtec.cat';
$SENDER = 'educacio';
$ENVIRONMENT = 'INT';
$CONTENTTYPE = 'text/html';
$LOG = false;
$LOGDEBUG = false;
$LOGPATH = '/srv/www/prestatgeria/pnTemp/error_logs/mailsender.log';

//Others
$zikulapath = '/srv/www/prestatgeria/html/prestatgeria';
$image_folder = 'http://agora/prestatgeria/centres/'; //in config file it is concatenated the school code
$image_folder_uri = '/centres/' . $_GET['fisbn'];
$image_folder_path = '/srv/www/prestatgeria/html' . $image_folder_uri;
$images_url_imconfig = "/llibres/centres/";
