<?php

global $presta;

$presta['dbhost'] = '';
$presta['dbname'] = '';
$presta['dbuser'] = '';
$presta['dbpass'] = '';

// Note: some environment variables are still defined in config_books.php. Will be fixed in the future.

