<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Suport en línia</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link href="css/estils.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="inc/scripts.js"></script>
</head>
<body>
	<div class="header">
		<div style="padding:20px 0px 0px 30px"><img src="imatges/logo.png" alt="Logo"/></div>
		<div style="text-align:right; margin-top:-20px;">
			<span style="padding: 0px 30px 0px 0px;"><a href="{$retorn}" class="mini">{$retorn_text}</a></span>
		</div>
	</div>
	<div class="global">
		<div class="section">
			{$msg}
		</div>
	</div>
</body>
</html>
