<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Informa de la web dinàmica</title>
	<link href="css/estils.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="inc/scripts.js"></script>

</head>

<body bgcolor="#FFFFFF">
	Acció no permesa!!!
	<br />
	<br />
	<p><a href="index.php">Torna a l'índex</a></p>

</body>
</html>
