<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Informa de la web dinàmica</title>
	<link href="css/estils.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="inc/scripts.js"></script>

</head>

<body bgcolor="#FFFFFF">

<form action="nou.php" method="post" enctype="application/x-www-form-urlencoded" name="f">
<input type="hidden" value="{$tema.id}" name="id"/>



<h3>Nova pregunta</h3>

<span class="paragraf">Tema: &nbsp;&nbsp;</span>
<select name="tema">
{section name=temes loop=$temes}
	<option value="{$temes[temes].id}" {if $temes[temes].id eq $tema}selected{/if}>
		{$temes[temes].titol}
	</option>
{/section}
</select>
<br /><br />

<table border="0" cellpadding="5" cellspacing="0" class="paragraf">
<tr style="font-weight:bold">
<td>Idioma</td>
<td>Pregunta</td>
<td>Activat</td>
</tr>
{section name=langs loop=$langs}
<tr>
<td>{$langs[langs].name}</td>
<td><input type="text" name="pregunta_{$langs[langs].lang}" size="60"/></td>
<td align="center"><input type="checkbox" name="valida_{$langs[langs].lang}" {if $langs[langs].valida eq 1}checked{/if}/></td>
</tr>
{/section}
</table>


<!--
<span class="paragraf">Tema:</span>
<br />
<select name="tema">
{section name=temes loop=$temes}
	<option value="{$temes[temes].id}" {if $temes[temes].id eq $tema}selected{/if}>
		{$temes[temes].titol}
	</option>
{/section}
</select>
<br />
<br />
<span class="paragraf">Idioma:</span>
<select name="lang">
{section name=langs loop=$langs}
	<option value="{$langs[langs].lang}"  {if $langs[langs].lang eq $lang}selected{/if}>
		{$langs[langs].name}
	</option>
{/section}
</select>
<br />
<br />
<span class="paragraf">Pregunta:</span>
<br />
<input type="text" name="pregunta" size="60"/>
<br />
<br />
<span class="paragraf">Activat</span>
<input type="checkbox" name="valida"/>
<br />
-->
<br />


<div><input name="submit" type="submit" value="Entra les modificacions"/></div>
</form>
</body>
</html>
