
<!-- News-index.htm beginning -->
<div class="pieceofnews">
    <h4>
        {$preformat.title}
    </h4>
    <div>
        <div style="float:left; margin-right:10px;">{$preformat.searchtopic}</div>
        <p>{$info.hometext}</p>
        <p>{$preformat.notes}</p>
    </div>
    <div style="clear:both; padding:10px; color:{$color3};">
        <div style="float:left; width:100px;">{$preformat.commentlink}</div>
        <div style="float:left; width:200px; margin-left:18%;"><a href="{$links.fullarticle}" title="{$info.title}">{gt text='Notícia completa'}</a></div>
        <div style="float:right; width:40px;">
            {$preformat.print}
        </div>
    </div>
</div>
<!-- News-index.htm end -->
