body.global{
	font-family:"Trebuchet MS",Verdana,Arial;
	font-size:15px;
	margin:0px;
	padding:0px;
	background: url(../pnimages/mr.png) repeat-y right top #ECE8D6;
}

.wait{
	margin:100px 0px 0px 0px;
	border: 2px solid #000000;
}

div.pagerTop{
	font-family:"Trebuchet MS",Verdana,Arial;
	background:#ECE8D6;
	text-align:right;
	padding: 0px 30px 5px 0px;
}

div.pagerBottom{
	text-align:right;
	padding: 5px 30px 20px 0px;
}

div.page{
	font-family:"Trebuchet MS",Verdana,Arial;
	font-size:15px;
	background: url(../pnimages/hold.png) repeat-y #ffffff;
	padding:0px 20px 30px 40px;
	border-right: 2px solid #BEBCB5;
	clear:both;
}

div.showState{
	margin-bottom: 20px;
}

div.return{
	float:right;
	margin-right: 50px;
}

div.search{
	background:#ECE8D6;
}

div.pageend{
	background: url(../pnimages/pageEnd.png) repeat-y;
}

div.pager a{
	text-decoration:none;
}

div.form{
	margin-bottom: 10px;
	width:450px;
}

/*msg template*/
div.msg{
	background-color: #FFFFCC;
	border: 1px solid #990000;
	width:480px;
	margin: 50px 20px 10px 20px;
	padding: 10px;
}
.option a{
	color:#000099;
	text-decoration: none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}
div.tip{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#990000;
}

div.info{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#009900;
}
div.option{
	text-align:right;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

div.text{
}
div.descriptorsNumber{
	margin: 10px;
	padding: 10px;
	background-color: #ffff9f;
}
/**/

/*template cataleg global*/
/**/


/*template menu*/
div.bloc{
	margin-bottom:20px;
	margin-top:20px;
	clear:both;
	border-right:1px solid #666666;
	padding-right:10px;
}
div.blocheader{
	font-family:"Trebuchet MS",Verdana,Arial;
	font-size:20px;
	margin: 0px 0px 10px 0px;
	color:#141111;
	font-weight:bold;
	padding:5px;
}

div.blocImage{
	background: url(../pnimages/blockIcon.png) no-repeat;
	margin-left:50px;
}

div.blocLink{
	padding-bottom:10px;
	margin: 0px 0px 0px 0px;
	float: left;
	clear: left;
	width: 60%;
}

div.blocLink a{
	color:#141111;
	text-decoration: none;
	float:left;
	font-family:"Trebuchet MS",Verdana,Arial;
	font-size:12px;
	font-weight:100;
}

.blocTable{
	padding-bottom:5px;
	margin: 0px 0px 0px 10px;
	font-family:"Trebuchet MS",Verdana,Arial;
	font-size:12px;	
}

.blocTable a{
	color:#141111;
	text-decoration: none;
	font-family:"Trebuchet MS",Verdana,Arial;
	font-size:12px;
}

div.blocContent{
	padding-left: 10px;
	padding-bottom: 20px;
	clear: both;
	width: 190px;
}

.blocValue{
	color:#141111;
	text-decoration: none;
	float:right;
    margin-right: 15px;
	font-family:"Trebuchet MS",Verdana,Arial;
	font-size:12px;
	font-weight:bold;
}

div.blocSchool{
	padding-bottom:10px;
	margin: 0px 0px 10px 0px;
}

td.blocSchool{
	padding: 10px;
	text-align: center;
}

td.bookTitle{
	padding: 10px;
	text-align: left;
}

div.blocSchool a{
	color:#000099;
	text-decoration: none;
	float:left;
	width:auto;
}
div.condicions{
	width:330px;
	padding:0px 20px 20px 20px;
	height:200px;
	background-color:#ECE8D6;
	overflow:auto
}

.news{
	padding:10px;
	font-size:13px;
/*	margin:10px 10px 10px 50px;*/
}

.news a{
	text-decoration:none;
}

div.helpBox{
	background:url(../pnimages/postitleft.png) repeat-y;
	padding-left:5px;
	position:absolute;
	width: 300px;
	display:none;
	margin:30px 0px 0px -250px;
}

div.helpHeader{
	background:url(../pnimages/postittop.png) no-repeat;
	height:45px;
}

div.helpContent{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color:#FFFDC8;
	padding:10px 10px 0px 20px;
}

div.helpBoxClose{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:right;
	font-weight:bold;
	padding:10px 5px 10px 0px;
}

div.helpBoxClose a{
	color:#929292;
	text-decoration:none;
}

div.blocBook{
	padding-bottom:10px;
	margin: 0px 0px 10px 0px;
}
div.blocBook a{
	color:#000099;
	text-decoration: none;
	float:left;
	width:120px;
}
div.date{
	float:right;
}
div.visits{
	float:right;
}
div.blocLine{
	clear:both;
}

div.more{
	clear:both;
	float:right;
    margin-right: 15px;
}

/**/

div.collectionActive{
	color:#009933;
}

div.collectionNotActive{
	color:#990000;
}

div.collectionName{
	padding-bottom:10px;
	margin: 0px 0px 10px 0px;
}

div.collectionName a{
	color:#000099;
	text-decoration: none;
	font-weight:bold;
}

div.collectionNameField {
	float:left;
	margin-left:25px;
	color:#990000;
	font-size:14px;
}


div.bookTitle{
	padding-bottom:10px;
	margin: 0px 0px 10px 0px;
}
div.bookTitle a{
	color:#000099;
	text-decoration: none;
	font-weight:bold;
}

div.field{
	background:url(../pnimages/fitxa.png) no-repeat;
	height:330px;
	width:500px;
	margin:50px 0px 0px 0px;
}

div.fieldBookTitle{
	font-family:"Courier New", Courier, mono;
	font-size: 18px;
	font-weight:bold;
	padding: 13px 60px 30px 35px;	
}
div.fieldBookTitle a{
	text-decoration:none;
	color:#5F5F5F;	
}

div.fieldBookLine{
	font-family:"Courier New", Courier, mono;
	font-size: 14px;
	color:#5F5F5F;
	padding: 0px 50px 6px 25px;
}

div.urlBook{
	font-family:"Courier New", Courier, mono;
	font-size: 11px;
	color:#5F5F5F;	
	padding: 5px 50px 6px 25px;
}

div.urlBook a{
	text-decoration:none;
	color:#5F5F5F;	
}


div.fieldBookFisbn{
	font-family:"Courier New", Courier, mono;
	font-size: 14px;
	padding: 20px 50px 6px 35px;
	font-weight:bold;
}

div.fieldBookFisbn a{
	text-decoration:none;
	color:#CB1A1A;
}

div.fieldBookDescription{
	padding: 0px 20px 0px 20px;
}

div.fieldIcons{
	text-align:right;
	margin-right:45px;
}

table{
	padding: 0px 0px 0px 7px;
}

/*menu2.htm*/
div.left{
	float:left;
	margin-right:10px;
}

div.right{
	float:left;
}
/**/

/*Template main2*/
div.lmain2{
	float:left;
	width:190px;
	margin-right:10px;
	margin-bottom:20px;
}

.lmain2 a{
}

div.mmain2{
	background-color: #ECE8D6;
	padding-top:20px;
	float:right;
	width:2px;
}

.linkHeader{
	font-family:"Trebuchet MS",Verdana,Arial;
	font-size: 15px;
	padding: 0px 15px 10px 0px;
	text-align:right;
}

.linkHeader a{
	font-weight:bold;
	color:#141111;
	text-decoration:none;
}

div.topLinks{
	clear:both;
	margin: 0px 10px 20px 0px;
}

div.searchIcon{
	margin:0px 20px 0px 5px;
}

.linkHeaderSeparator{
}

.blockLinkHeader{

}

div.content{
}

div.mainContent{
	/*background: url(../pnimages/clip.png) repeat-y white;*/
	padding:0px 0px 0px 0px;
	clear:both;
}

div.rmain2{
	width:auto;
	margin: 0px 0px 0px 10px;
}
/**/

/*Template maini*/
div.maini{

}
div.mainTitle{
	color:#6D6D6D;
	font-weight:bold;
	font-family:"Trebuchet MS",Verdana,Arial;
	font-size:20px;
	padding: 40px 20px 20px 0px;
}
/**/

hr{
	margin-bottom:30px;
}

/*Header*/
#wrapper_books{
	background: url(../pnimages/ml.png) repeat-y left top;
}

#header{

}

div.headerTitle{
	float:left;
	padding-top:10px;
	font-size:24px;
	font-weight:bold;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-style:italic;
	color:#141111;
}

#lheader{
	background: url(../pnimages/tll.png) no-repeat;
	/*	background-color: #ECE8D6;*/

	width:47px;
	float: left;
	height:106px;
}

#mheader{ 
	background: url(../pnimages/tm.png) repeat;
	width: auto;
	height: 40px;
}

#rheader{ 
	background: url(../pnimages/trl.png) no-repeat;
	width:46px;
	height: 106px;
	float: right;
}
#mheader1{
	background-color: #ECE8D6;
	width:auto;
	height: 66px;
}
/*End header*/

/*Main*/
#main{

}
#lmain{
	background: url(../pnimages/ml.png) repeat-y;	
	width:47px;
	float: left;
}

#mmain{ 
	/*background-color: #ECE8D6;*/
	width: auto;
	padding: 0px 60px 0px 30px;
}

#rmain{ 
	/*background: url(../pnimages/mr.png) repeat-y;*/
	
	width:46px;
	background: url(../pnimages/trans.png) repeat-y;	
	float: right;
}
/*End main*/



/*Footer*/
#lfooter{
	background: url(../pnimages/bll.png) no-repeat;	
	width:47px;
	float: left;
	height:120px;
}

#mfooter{ 
	background: url(../pnimages/bm.png) repeat;
	width: auto;
	height: 46px;
}

#rfooter{ 
	background: url(../pnimages/br.png) no-repeat;
	width:84px;
	height: 120px;
	float: right;
}
#mfooter1{
	background-color: #ECE8D6;
	width:auto;
	height: 76px;
}
/*End foother*/


div.bookComment{
	clear:both;
	padding: 10px 20px 20px 20px;
	border-bottom: 2px solid #8D8D8D;
}

div.bookCommentUserName{
}

div.bookCommentDateTime{
	font-size:10px;
	color:#666666;
}

div.blocActivation{
	padding: 10px 20px 20px 20px;
	border: 1px solid #8D8D8D;
	margin-bottom: 20px;
}

div.toActivateInfo{
	background-color: #ffffaf;
	padding: 20px 20px 20px 20px;
}

/*
.tag_cloud { padding: 3px; text-decoration: none; }
.tag_cloud:link { color: #81d601; }
.tag_cloud:visited { color: #019c05; }
.tag_cloud:hover { color: #ffffff; background: #69da03; }
.tag_cloud:active { color: #ffffff; background: #ACFC65; }
*/
.tag_cloud { padding: 3px; text-decoration: none; font-weight:100;}
.tag_cloud:link { color: #141111; }
.tag_cloud:visited { color: #141111; }
.tag_cloud:hover { color: #ffffff; background: #444444; }
.tag_cloud:active { color: #ffffff; background: #444444; }

/*CSS Necessari per al wForms*/
.errFld { border: 1px solid #F00; display: inline;}
.errMsg { display:block; color: #C33;	font-size: .8em;}
