<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<!--[lang]-->">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<!--[charset]-->" />
<title><!--[title]--></title>
<meta name="Description" content="<!--[slogan]-->" />
<meta name="Keywords" content="<!--[keywords]-->" />
<link rel="stylesheet" href="<!--[$stylepath]-->/style.css" type="text/css" />
<link rel="alternate" href="backend.php" type="application/rss+xml" title="<!--[sitename]-->" />
<script type="text/javascript" src="javascript/showimages.js"></script>
<script type="text/javascript" src="javascript/openwindow.js"></script>
</head>
<body>
<!--[$maincontent]-->
<!--[nocache]--><!--[pagerendertime]--><!--[/nocache]-->
<!--[nocache]--><!--[sqldebug]--><!--[/nocache]-->
</body>
</html>