/* style for the body tag; takes care of any text not inside a block element.
   We must style all block elements seperately as styles don't inherit through
   block elements */
BODY {
	color: #000000;
	font: 11px Tahoma, Verdana, sans-serif;
	margin-top: 0;
	margin-left: 1%;
	margin-right: 0;
	margin-bottom: 0;
	padding: 0;
	width: 98%;
}

/* block element styles */
TABLE, DIV, INPUT, TEXTAREA, SELECT {
	color: #000000;
	font: 11px Tahoma, Verdana, sans-serif;
}

/* inline element styles */
IMG {
	border: 0;
}
h1 {
	font-weight: bold;
	font-size: 16px;
	text-align:center;
}
h2 {
	font-weight: bold;
	font-size: 14px;
	text-align:center;
}

/* anchor styles 
Note 1: Only add attributes to contextual styles that override the general style
Note 2: When all anchors are to be styled the same don't create specific styles 
for :visited etc.
*/
A {
	font-size: 11px;
	color: #0000FF;
	text-decoration: none;
	background: none;
}
A.pn-title {
	font-weight: bold;
	font-size: 14px;
	text-decoration: underline;
}
A.pn-sub {
	font-size: 10px;
	text-decoration: underline;
}

/* form and control styles */
.input {
	border: 1px solid #000000;
	font-size: 10px;
}

/* PostNuke specific classes */
.pn-logo {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 3px;
}
.pn-logo-small {
	font-size: 13px;
	font-weight: bold;
}
.pn-pagetitle { /* deprecated see h1 style */
	font-weight: bold;
	font-size: 16px;
	text-align:center;
}
.pn-title { /* deprecated see h2 style */
	font-weight: bold;
	font-size: 14px;
	text-align:center;
}
.pn-sub { /* deprecated see small style */
	font-size: 9px;
}
.pn-menu {
	text-align:center;
}
.pn-menuitem-title {
	text-align:center;
}

/* theme styles */
.sideblock {
	width: 150px;
	padding:1px;
	border-left:1px solid #000; 
	border-bottom:1px solid #000;
	border-top:1px solid #000;
	border-right:1px solid #000;
}
.centerblock {
	padding:0px;
	border-left:1px solid #000; 
	border-bottom:1px solid #000;
	border-top:1px solid #000;
	border-right:1px solid #000;
}
.opentable {
	width:100%;
	border: 1px solid #000;
}
.opentable2{
	border: 1px solid #000;
}

#themelogo {
}

#themesearch {
	float:right;
	padding:20px;
}

#header {
	border: 1px solid #cecea5;
}

#outer_wrapper {
}

#wrapper {
}

#container {
	width: 100%;
	float: left;
    margin-right:-160px;
}

#content {
	margin-right: 160px;
}

#main {
	margin-left: 160px;
}

#left {
	float: left;
    width: 150px;
}

#sidebar {
	float: right;
	width: 150px;
}

#themefooter {
	clear:both;
	text-align:center;
}

.clearing {
	height: 0;
	clear: both;
}
