<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Suport del projecte Intraweb</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link href="css/estils.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="inc/scripts.js"></script>
</head>
<body bgcolor="#FFFFFF">
	<div class="global">
		<br />
		Vols realment esborrar el comentari?
		<br />
		<br />
		{$comment}
		<br />
		<br />
		<form name="delete_comment" action="delete_comment.php">
		<div>
		<input type="hidden" name="id" value="{$id}"/>
		<input type="hidden" name="sid" value="{$sid}"/>
		<input type="submit" value="Confirma l'esborrat"/>
		</div>
		</form>
		<br />
		<a href="suport.php?sid={$sid}">Cancel·la l'esborrat</a>
	</div>
</html>
